run = "python main.py"
language = "python3"
entrypoint = "main.py"

[env]
PYTHONPATH = "."

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[unitTest]
language = "python3"

[packager]
language = "python3"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8501
externalPort = 8501
